/TestProject/.vs/TestProject/v15/Server/sqlite3/db.lock
/TestProject/.vs/TestProject/v15/Server/sqlite3/storage.ide
/TestProject/.vs/TestProject/v15/Server/sqlite3/storage.ide-shm
/TestProject/.vs/TestProject/v15/Server/sqlite3/storage.ide-wal
/TestProject/.vs/TestProject/v15/.suo
